<!DOCTYPE html>
<html>
  <head>
    <title>RailsNodeHyperledgerBlockchain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <b> <%= type %>: </b>  <%= msg %>
    <% end %>
    <%= yield %>
  </body>
</html>
